<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>
    <h3>Restaurant Search Results: <%= @restaurants.count %></h3>

    <table>
      <tr>
        <th>Restaurant</th>
        <th>Grade</th>
        <th>Borough</th>
        <th>Zip Code</th>
        <th>Phone #</th>
      </tr>

      <% @restaurants.each_slice(10) do |key| %>
          <tr>
            <td><%= key.first["dba"] %></td>
            <td><%= key.first["currentgrade"] %></td>
            <td><%= RestaurantsHelper.lookup_boro(key.first["boro"]) %></td>
            <td><%= key.first["zipcode"] %></td>
            <td><%= key.first["phone"] %></td>
          </tr>
      <% end %>
    </table>

    <br>
</body>
</html>